<nav class="navbar teal light-2">
  <div class=" nav-wrapper flow-text container col s3 center-align ">
    <a href="{%url 'sobre_mapeamento'%}" button id="bt-1" class="botao-1 btn waves-effect waves-teal"> Sobre Mapeamento</a>
    <a href="{%url 'vertente_do_map'%}" button id="bt-2" class="botao-2 btn waves-effect waves-teal"> Vertentes do Map.</a>
    <a href="{%url 'add'%}" button id="bt-3" class="botao-3 btn waves-effect waves-teal"> Formulário para Map</a>
    <a href="{%url 'mapeamento_atual'%}" button id="bt-4" class="botao-4 btn waves-effect waves-teal"> Mapeamento Atual</a>
  </div>
</nav>