
{%extends 'base.html' %}  
{%block content%}  


 <!-- inicia o bloco com as explicações do que o mapeamento -->               
         
            <!-- inicia o bloco com a tabela de vertentes -->
            <div class="container center-align col s9 " id="vertentes" >
              <div class="col s12 m6">
                <div class="card teal light-2">
                  <div class="card-content white-text">
                    <span class="card-title">Áreas Afins</span>
                      
                    <table>
                          <thead>
                              <tr>
                                <th>Area</th>
                                <th>Tipo</th>
                              </tr>
                          </thead>
                  
                          <tbody>
                            <tr>
                              <td>Governo</td>
                                  <td> 
                                      Governo Federal<p>
                                      Governo Estadual <p>
                                      Governo Municipal <p>
                                  </td>
                              </tr>
                            <tr>
                              <td>Capital</td>
                                <td> 
                                  Investidores Anjo<p>
                                  Venture Capital & Private Equity <p>
                                  Programas e Agentes Governamentais <p>
                                  Crowdfunding
                              </td>
                              
                            </tr>
                            <tr>
                              <td>Suporte</td>
                                <td> 
                                  Associações<p>
                                  Entidades de Promoção da Inovação e Empreendedorismo <p>
                                  Incubadoras <p>
                                  Aceleradoras <p>
                                  Centros de Inovação (CIT)<p>
                                  Instituição de Ciências e Tecnologia (ICTs)<p>
                                  Parques Tecnológicos<p>    
                                  Agências de Propriedade Intelectual e Inovação<p>
                                  Redes <p>
                                  Coworking <p>
                                  Espaço Maker <p>
                                  Programas de Aceleração Privados
                                </td>
                            </tr>
                            <tr>
                              <td>Capital Humano</td>
                                <td> 
                                  Núcleos e Centros de Estudos e Pesquisa<p>
                                  Institutos <p>
                                </td>
                            </tr>

                          </tbody>
                        </table>

                  </div>
                  <div class="card-action">
                    <a href="form.html">Preencher Mapeamento</a>
                   
                </div>
                </div>
              </div>
    
      </div>
       <!-- finaliza o bloco com a tabela de vertentes -->
 
{%endblock%} 